doctype html
html
  head
    title Amadeus
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    style.
      body {
      background-color:black;
      }
      .home{
      margin-top: 400px;
      }
      h1 {
      padding: 20px;
      color: white;
      font-size: 100px;
      font-family: cursive;
      }
  body
    .home
      center
        .logo
          img(src='https://amadeus-server.herokuapp.com/api/normal/image/amadeus-1588938070828-Amadeus.0438ffec.png', alt='amadeus-logo', width='700px', height='600px')
        h1 Amadeus Shop
